body {
background-color: mistyRose;
 border: solid 15px yellow;
 border-radius: 25px;
 margin: 0;
}
button{
font-family: cursive;
font-size: 35px;
text-align: center;
background-color: cornsilk;
color: red;
border-radius: 15px;
border: solid 2px lime;
margin: 15px;
}
h1 {
 font-family: sans-serif;
 font-style: italic;
 color: #800000;
 text-align: center;
}
h4 {
 font-family: monospace;
 font-style: italic;
 color: #808000;
}
p {
 font-style: italic;
 font-family: Courier New;
 font-size: 17px;
 color: blue;
}
a {
 color: green;
 font-style: italic;
}
